@font-face {
  font-family: '方正小标宋简体'; // 根据自己用的去重命名字体名 
  src: url('./方正小标宋简体.ttf'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SimSun'; // 根据自己用的去重命名字体名 
  src: url('./方正小标宋简体.ttf'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '方正仿宋_GB2312'; // 根据自己用的去重命名字体名 
  src: url('./方正仿宋_GB2312.ttf'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '方正楷体_GB2312'; // 根据自己用的去重命名字体名 
  src: url('./方正楷体_GB2312.ttf'); 
  font-weight: normal;
  font-style: normal;
}